
/*
SPDX-FileCopyrightText: 2025 comodelling.org contributors: https://github.com/comodelling/comodelling-website/CONTRIBUTORS.md

SPDX-License-Identifier: CC-BY-SA-4.0
*/

:root {
  --bg: #fff;
  --fg: #111;
  --accent: #0366d6;
}
html,body { height:95%; }
body {
  margin:0;
  font-family: "Helvetica Neue", Arial, system-ui, "Segoe UI";
  background: var(--bg);
  color: var(--fg);
  display:flex;
  align-items:center;
  justify-content:center;
  padding:2rem;
}
main { max-width:75ch; text-align:left; }
h1 { text-align:center; }
p { margin:0 0 1rem; text-align:left; }
a { color: var(--accent); text-decoration:none; }
ul {margin-top: 5px}